<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/identification.css" />
  </head>
  <body>
    <%- include('../partials/logo'); %>
    <form
      method="post"
      action="/data/identification"
      enctype="multipart/form-data"
    >
      <label for="file-input" class="btn-submit">
        <i class="fas fa-file-upload"></i> Upload your photo!
      </label>
      <input
        hidden
        type="file"
        id="file-input"
        name="filename"
        accept="image/*"
        capture="user"
      />

      <label for="submit" id="submit-label">
        <i id="submit" class="fa fa-paper-plane" aria-hidden="true"></i> And
        identify it!
      </label>
      <input type="submit" id="submit" class="btn-submit" />
    </form>
    <% if(locals.attributes) { %>

    <div class="a-box">
      <div class="img-container">
        <div class="img-inner">
          <div class="inner-skew">
            <img src="/temp/temp.<%=extension%>" />
          </div>
        </div>
      </div>
      <div class="text-container">
        <div class="attr-container">
          <h2><%=scientificName%></h2>
          <div class="row">
            <% for(let i = 0; i < attributes.length; i++) { for(let j = 0; j <
            attributes[i].length; j++) { %>
            <div class="col-sm">
              <br />
              <p><%= attributes[i][j][0]%>:</p>
              <hr />
              <p><%= attributes[i][j][1]%></p>
            </div>
            <%}%> <%}%>
          </div>
        </div>
      </div>
    </div>
    <% } %>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
